In [1]:
var1 = 8
var2 = 160.88
var1 + var2

168.88

In [2]:
var3 = 'Hello, '
var4 = 'World'
print(var3)
print(var4)

Hello,
World

In [4]:
print(f"Text: {var3}{var4}!")

Text: Hello, World!

In [5]:
var3 + var4

'Hello, World'

In [6]:
var5 = ['I', 'love', 'data', 'science']
print(var5)

['I', 'love', 'data', 'science']

In [7]:
var6 = ['Packt', 15019, 2020, 'Data Science']
print(var6)

['Packt', 15019, 2020, 'Data Science']

In [8]:
print(var6[0])
print(var6[2])

Packt
2020

In [9]:
print(var6[0:3])

['Packt', 15019, 2020]

In [10]:
for item in var6:
    print(item)

Packt
15019
2020
Data Science

In [11]:
var6.append('Python')
print(var6)

['Packt', 15019, 2020, 'Data Science', 'Python']

In [12]:
var6.remove(15019)
print(var6)

['Packt', 2020, 'Data Science', 'Python']

In [13]:
var7 = { 'Topic': 'Data Science', 'Language': 'Python' }
print(var7)

{'Topic': 'Data Science', 'Language': 'Python'}

In [14]:
print(var7['Language'])

Python

In [15]:
print(var7.keys())

dict_keys(['Topic', 'Language'])

In [16]:
print(var7.values())

dict_values(['Data Science', 'Python'])

In [17]:
for key, value in var7.items():
    print(key)
    print(value)

Topic
Data Science
Language
Python

In [18]:
var7['Publisher'] = 'Packt'
print(var7)

{'Topic': 'Data Science', 'Language': 'Python', 'Publisher': 'Packt'}

In [19]:
del var7['Publisher']
print(var7)

{'Topic': 'Data Science', 'Language': 'Python'}

In [29]:
import pandas as pd

pd.read_csv('.\Dataset\csv_example.csv')

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [27]:
pd.read_excel('.\Dataset\excel_example.xlsx')

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [28]:
pd.read_json('.\Dataset\json_example.json')

             algorithm      learning                          type
0    Linear Regression    Supervised                    Regression
1  Logistic Regression    Supervised                Classification
2         RandomForest    Supervised  Regression or Classification
3              k-means  Unsupervised                    Clustering

In [30]:
csv_path = '.\Dataset\overall_topten_2012-2013.csv'
csv_df = pd.read_csv(csv_path, skiprows=1)
csv_df

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

In [31]:
tsv_path = '.\Dataset\overall_topten_2012-2013.tsv'
tsv_df = pd.read_csv(tsv_path, skiprows=1, sep='\t')
tsv_df

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

In [33]:
xlsx_path = '.\Dataset\overall_topten_2012-2013.xlsx'
xlsx_df = pd.read_excel(xlsx_path)
xlsx_df

Empty DataFrame
Columns: [This tab doesn't contain the data we are looking for]
Index: []

In [34]:
xlsx_df1 = pd.read_excel(xlsx_path, skiprows=1, sheet_name=1)
xlsx_df1

,Number,Postcode,Suburbs,Number of Applications
0,1,3029,"Hoppers Crossing, Tarneit",1069
1,2,3977,"Cranbourne, Devon Meadows, Skye",1037
2,3,3064,"Craigieburn, Donnybrook, Roxburgh Park, Mickleham",821
3,4,3030,"Point Cook, Werribee, Derrimut",816
4,5,3754,"Doreen, Mernda",530
5,6,3810,"Pakenham, Rythdale",479
6,7,3350,"Alfredton, Ballarat, Canadian, Invermay Park, ...",383
7,8,3216,"Belmont, Grovedale, Highton, Marshall, Waurn P...",351
8,9,3136,"Croydon, Croydon Hills, Croydon North, Croydon...",344
9,10,3805,"Fountain Gate, Narre Warren, Narre Warren South",335

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_wine

rf_model = RandomForestClassifier(random_state=1)
features, target = load_wine(return_X_y=True)

rf_model.fit(features, target)

RandomForestClassifier(random_state=1)

In [36]:
preds = rf_model.predict(features)
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(target, preds)

1.0