In [1]:
print('Welcome to Python!')

Welcome to Python!

In [2]:
print("Welcome to   Python!")

Welcome to   Python!

In [3]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [4]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [5]:
print('Sum is', 7 + 3)

Sum is 10

In [6]:
print('Display "hi"  in quotes')

Display "hi"  in quotes

In [7]:
print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [8]:
print("Display the name O'Brien")

Display the name O'Brien

In [9]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [10]:
print("""Display "hi" and 'bye' quotes""")

Display "hi" and 'bye' quotes

In [11]:
triple_quoted_strings = """This is a triple-quoted
string that spans two lines"""

In [13]:
print(triple_quoted_strings)

This is a triple-quoted
string that spans two lines

In [14]:
triple_quoted_strings

'This is a triple-quoted\nstring that spans two lines'