In [1]:
name = input("Enter your name")
age = int(input("Enter your age"))
print("\nName =", name); print("\nAge =", age)

Name = Sherman

Age = 38

In [2]:
age = 11
name = "Nour"
tall = 100.50
print(age)
print(name)
print(tall)

11
Nour
100.5

In [3]:
# Multiple assignments
age = mark = code = 25
print(age)
print(mark)
print(code)

25
25
25

In [4]:
age, mark, code = 10, 75, "CIS2403"
print(age)
print(mark)
print(code)

10
75
CIS2403

In [5]:
# Expressions
x = 0.6
x = 3.9 * x * (1 - x)
print(round(x, 2))

0.94

In [6]:
# Arithmetic operations in Python
print(13 // 5)
print(13 + 5)
print(13 - 5)
print(2 * 5)
print(13 / 5)
print(13 % 5)
print(2 ** 3)

2
18
8
10
2.6
3
8

In [7]:
# Assign operators
x = 10
print(x)

x = 10; x /= 2
print(x)

x = 10; x += 7
print(x)

x = 10; x -= 6
print(x)

10
5.0
17
4

In [8]:
x = 10; x *= 5
print(x)

x = 13; x %= 5
print(x)

x = 10; x **= 3
print(x)

x = 10; x //= 2
print(x)

50
3
1000
5

In [9]:
# Python logical operators
x = 10 > 5 and 4 > 20
print(x)

x = 10 > 5 or 4 > 20
print(x)

x = not (10 < 4)
print(x)

False
True
True

In [10]:
# string formatting
print ("pi = %s"%"3.14159")

pi = 3.14159

In [11]:
print("The value of %s is = %02f" % ("pi", 3.14159))

The value of pi is = 3.141590

In [12]:
print("Your name is %s, and your height is %.2f while your weight is %.2d" % \
    ('Ossama', 172.156783, 75.56647))

Your name is Ossama, and your height is 172.16 while your weight is 75

In [13]:
print("Hi %(Name)s, your height is %(height).2f" % {'Name': 'Ossama', 'height': 172.156783})

Hi Ossama, your height is 172.16

In [14]:
# using the replacement field
x = "price is"
print("{1} {0} {2}".format(x, "The", 1920.345))

The price is 1920.345

In [15]:
class A():
    x = 9

w = A()
print("{0} {1[2]} {2[test]} {3.x}".format("This", ["a", "or", "is"], {"test": "another"}, w))

This is another 9

In [19]:
print("{1[1]} {0} {1[2]} {2[test]} {3.x}".format("This", ["a", "or", "is"], {"test": "another"}, w))

or This is another 9

In [20]:
# Using time methods
import time
localtime = time.asctime(time.localtime(time.time()))
print("Formatted time :", localtime)
print(time.localtime())
print(time.time())

Formatted time : Fri Jun 19 21:52:34 2020
time.struct_time(tm_year=2020, tm_mon=6, tm_mday=19, tm_hour=21, tm_min=52, tm_sec=34, tm_wday=4, tm_yday=171, tm_isdst=0)
1592574754.0819635

In [21]:
import calendar
calendar.prcal(2020)

2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30