In [1]:
Names = ('Omar', 'Ali', 'Bahaa')
Marks = (75, 65, 95)
print(Names[2])
print(Marks)
print(max(Marks))

Bahaa
(75, 65, 95)
95

In [2]:
for name in Names:
    print(name)

Omar
Ali
Bahaa

In [3]:
# Listing 3-21: Sorting a Tuple
MarksCIS = [
    (88, 65),
    (70, 90, 85),
    (55, 88, 44)
]
print(MarksCIS)             # original tuples
print(sorted(MarksCIS))     # direct sorting

[(88, 65), (70, 90, 85), (55, 88, 44)]
[(55, 88, 44), (70, 90, 85), (88, 65)]

In [4]:
print(MarksCIS)             # original tuples
# create a new sorted tuple
MarksCIS2 = sorted(MarksCIS, key=lambda x: (x[0], x[1]))
print(MarksCIS2)

[(88, 65), (70, 90, 85), (55, 88, 44)]
[(55, 88, 44), (70, 90, 85), (88, 65)]

In [5]:
print(MarksCIS)             # original tuples
MarksCIS.sort(key=lambda x: (x[0], x[1]))   # sort in tuple
print(MarksCIS)

[(88, 65), (70, 90, 85), (55, 88, 44)]
[(55, 88, 44), (70, 90, 85), (88, 65)]

In [6]:
# Listing 3-22: Concatenating Tuples
MarksCIS = (79, 85, 55)
MarksCIN = (90, 75, 60)
Combind = MarksCIS + MarksCIN
print(Combind)

(79, 85, 55, 90, 75, 60)

In [7]:
# Listing 3-23: Accessing Values in a Tuple
MarksCIS = (70, 85, 55)
MarksCIN = (90, 75, 60)
print("The third mark in CIS in ", MarksCIS[2])
print("The third mark in CIN is ", MarksCIN[2])

The third mark in CIS in  55
The third mark in CIN is  60

In [8]:
# Listing 3-24: Deleting a Tuple
print(MarksCIN)
del MarksCIN
print(MarksCIN)

(90, 75, 60)

NameError: name 'MarksCIN' is not defined

In [9]:
# Listing 3-25: Slicing Tuple Values
MarksCIS = (88, 65, 70, 90, 85, 45, 78, 95, 55)
print("\nForward slicing")
print(MarksCIS[1:4])
print(MarksCIS[:3])
print(MarksCIS[6:])
print(MarksCIS[4:6])

print("\nBackward slicing")
print(MarksCIS[-4:-2])
print(MarksCIS[-3])
print(MarksCIS[-3:])
print(MarksCIS[:-3])

Forward slicing
(65, 70, 90)
(88, 65, 70)
(78, 95, 55)
(85, 45)

Backward slicing
(45, 78)
78
(78, 95, 55)
(88, 65, 70, 90, 85, 45)

In [10]:
# Listing 3-26: Creating a Series of Ndarray Data with Labels
import numpy as np
import pandas as pd

Series1 = pd.Series(np.random.randn(4), index = ['a', 'b', 'c', 'd'])
print(Series1)
print(Series1.index)

a    0.462259
b   -0.872792
c    1.014044
d    0.082024
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
# Listing 3-27: Creating a Series of Ndarray Data Without Labels
Series2 = pd.Series(np.random.randn(4))
print(Series2)
print(Series2.index)

0    1.208432
1    0.535038
2   -0.316796
3    1.324292
dtype: float64
RangeIndex(start=0, stop=4, step=1)

In [12]:
# Listing 3-28: Slicing Data from a Series
print("\n Series slicing ")
print(Series1[:3])
print("\nIndex accessing")
print(Series1[[3, 1, 0]])
print("\nSingle index")
x = Series1[0]
print(x)

 Series slicing
a    0.462259
b   -0.872792
c    1.014044
dtype: float64

Index accessing
d    0.082024
b   -0.872792
a    0.462259
dtype: float64

Single index
0.4622592893078187

In [14]:
# Listing 3-29: Sample Operations in a Series
print("\nSeries Sample operations")
print("\n Series values greater than the mean: %.4f" % Series1.mean())
print(Series1 [Series1 > Series1.mean()])
print("\n Series values greater than the Median: %.4f" % Series1.median())
print(Series1 [Series1 > Series1.median()])
print("\nExponential value ")
Series1Exp = np.exp(Series1)
print(Series1Exp)

Series Sample operations

 Series values greater than the mean: 0.1714
a    0.462259
c    1.014044
dtype: float64

 Series values greater than the Median: 0.2721
a    0.462259
c    1.014044
dtype: float64

Exponential value
a    1.587657
b    0.417783
c    2.756726
d    1.085482
dtype: float64

In [15]:
# Listing 3-30: Creating a Series from a Dictionary
dict = {
    'm': 2,
    'y': 2018,
    'd': 'Sunday'
}
print("\nSeries of non declared index")
SeriesDict1 = pd.Series(dict)
print(SeriesDict1)
print("\nSeries of declared index")
SeriesDict2 = pd.Series(dict, index=['y', 'w', 'd', 's'])
print(SeriesDict2)

Series of non declared index
m         2
y      2018
d    Sunday
dtype: object

Series of declared index
y      2018
w       NaN
d    Sunday
s       NaN
dtype: object

In [16]:
# Listing 3-31: Altering a Series and Using the Get() Method
print("\nUse the get and set methods to access a seies values by index label\n")
SeriesDict2 = pd.Series(dict, index=['y', 'm', 'd', 's'])
print(SeriesDict2['y'])         # Display the year
SeriesDict2['y'] = 1999         # change the year value
print(SeriesDict2)              # Display all dictionary values
print(SeriesDict2.get('y'))     # get specific value by its key

Use the get and set methods to access a seies values by index label

2018
y      1999
m         2
d    Sunday
s       NaN
dtype: object
1999

In [17]:
# Listing 3-32: Creating a Series Using a Scalar Value
print("\n CREATE SERIES FORM SCALAR VALUE ")
Scl = pd.Series(8., index=['a', 'b', 'c', 'd'])
print(Scl)

 CREATE SERIES FORM SCALAR VALUE
a    8.0
b    8.0
c    8.0
d    8.0
dtype: float64

In [19]:
# Listing 3-33: Vectorizing Operations on a Series
SerX = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print("Addition")
print(SerX + SerX)
print("Addition with non-match labels")
print(SerX[1:] + SerX[:-1])
print("Multiplication")
print(SerX * SerX)
print("Exponential")
print(np.exp(SerX))

Addition
a    2
b    4
c    6
d    8
dtype: int64
Addition with non-match labels
a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64
Multiplication
a     1
b     4
c     9
d    16
dtype: int64
Exponential
a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

In [20]:
# Listing 3-34: Using a Series Name Attribute
std = pd.Series([77, 89, 65, 90], name='StudentsMark')
print(std.name)
std = std.rename("Marks")
print(std.name)

StudentsMark
Marks