In [1]:
45 + 72

117

In [2]:
x = 7

In [3]:
y = 3

In [4]:
x + y

10

In [5]:
total = x + y
total

10

In [6]:
type(x)

int

In [7]:
type(10.5)

float

In [10]:
total = 10.8 + 12.2 + 0.2
total

23.2

In [11]:
7 * 4

28

In [12]:
7 ** 4

2401

In [13]:
9 ** (1/2)

3.0

In [14]:
7 / 4

1.75

In [15]:
7 // 4

1

In [16]:
-13 / 4

-3.25

In [17]:
-13 // 4

-4

In [18]:
17 % 5

2

In [19]:
7.5 % 3.5

0.5

In [20]:
10 * (5 + 3)

80

In [21]:
print("Welcome to Python!")

Welcome to Python!

In [22]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [23]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [25]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

In [26]:
print('Sum is', 7 + 3)

Sum is 10

In [27]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [28]:
# Multi-line Strings
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [1]:
name = input("What's your name? ")

In [2]:
name

'Sherman'

In [3]:
print(name)

Sherman

In [4]:
value1 = input ('Enter first number: ')
value2 = input ('Enter second number: ')
value1 + value2

'73'

In [5]:
# Getting an integer from the User
value = input('Enter an integer: ')
value = int(value)
value

7

In [6]:
another_value = int(input('Enter another integer: '))
print(another_value)

13

In [7]:
value + another_value

20

In [8]:
7 > 4

True

In [9]:
7 < 4

False

In [10]:
x = 3

1 <= x <= 5

True

In [11]:
x = 10

1 <= x <= 5

False

In [12]:
type(7)

int

In [13]:
type(4.1)

float

In [14]:
type('dog')

str

In [15]:
# Determining the minimum number
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

minimum = number1

if number2 < minimum:
    minimum = number2

if number3 < minimum:
    minimum = number3

print('Minimum value is', minimum)

Minimum value is 12

In [16]:
min(36, 27, 12)

12

In [17]:
max(36, 27, 12)

36