## 7.14.1 pandas Series

In [1]:
import pandas as pd

In [2]:
grades = pd.Series([87, 100, 94])

In [3]:
grades

0     87
1    100
2     94
dtype: int64

#### Creating a Series with All Elements Having the Same Value

In [4]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

In [5]:
grades[0]

87

### Producing Descriptive Statistics for a Series

In [6]:
grades.count()

3

In [7]:
grades.mean()

93.66666666666667

In [8]:
grades.min()

87

In [9]:
grades.max()

100

In [10]:
grades.std()

6.506407098647712

#### Calling Series method descrive produces all these stats and more:

In [11]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

### Creating a Series with Custom Indices

In [12]:
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])

In [13]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

### Dictionary Initializers

In [14]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

In [15]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

### Accessing Elements of a Series Via Custom Indices

In [16]:
grades['Eva']

100

In [17]:
grades.Wally

87

In [18]:
grades.dtype

dtype('int64')

In [19]:
grades.values

array([ 87, 100,  94], dtype=int64)

### Creating a Series of Strings

In [20]:
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])

In [21]:
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [22]:
hardware.str.contains('a')

0     True
1     True
2    False
dtype: bool

In [23]:
hardware.str.upper()

0    HAMMER
1       SAW
2    WRENCH
dtype: object